<launch>


    <!-- <node pkg="map_server" type="map_server" name="map_server" args="/home/fali-srl/catkin_ws/src/tintas.yaml" output="screen"/> -->
    <node pkg="theta_star_2d" type="action_goal_interface_node" name="action_goal_interface_node">
        <rosparam command="load" file="$(find theta_star_2d)/cfg/costmap_params.yaml"/>
    </node>
    <!-- Static tf used to simulate robot pose-->
    <node pkg="theta_star_2d" type="global_planner_node" name="global_planner_node" output="screen">
        <rosparam command="load" file="$(find theta_star_2d)/cfg/global_params.yaml"/>
    </node>

</launch>