<launch>
    <rosparam command="load" file="$(find theta_star_2d)/cfg/global_params.yaml"/>
    <rosparam command="load" file="$(find theta_star_2d)/cfg/local_params.yaml"/>
    <!-- Static tf used to simulate robot pose-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="19.4 16.7 0 0 0 1 map base_link" />

    <node pkg="theta_star_2d" type="global_planner_node" name="global_planner_node" output="screen"/>
    <node pkg="theta_star_2d" type="local_planner_node" name="local_planner_node" output="screen"/>
</launch>